#root {
  line-height: 1.45;
  background-color: var(--bg-paper);
  position: absolute;
  user-select: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}




.flexlayout__tab {
  border: 0px none;
  border-radius: 0px;
}

.flexlayout__border, .flexlayout__layout {
  background-color: transparent;
}

.flexlayout__layout, .flexlayout__border {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.flexlayout__border {
  font-size: 14px;
}

.flexlayout__theme_alpha_dark .flexlayout__tabset_tab_divider_selected_before, .flexlayout__tabset_tab_divider_selected_before, .flexlayout__theme_alpha_dark .flexlayout__tabset_tab_divider_selected_after, .flexlayout__tabset_tab_divider_selected_after {
  background-color: transparent;
}

.flexlayout__theme_alpha_dark .flexlayout__tab_button, .flexlayout__tab_button {
  padding: 2px 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.flexlayout__theme_alpha_dark .flexlayout__tab, .flexlayout__tab {
  border-radius: 8px;
  background-color: transparent;
  border: 0px none;
}

.flexlayout__theme_alpha_dark .flexlayout__tab_border, .flexlayout__tab_border {
  background-color: transparent;
  padding: 0px;
  padding-bottom: 8px;
}

.flexlayout__theme_alpha_dark .flexlayout__splitter_horz, .flexlayout__splitter_horz {
  width: 2px;
  min-width: 2px;
}

.flexlayout__theme_alpha_dark .flexlayout__tab_button--selected, .flexlayout__tab_button--selected {
  font-weight: normal;
  border-radius: 8px;
}

.flexlayout__theme_alpha_dark .flexlayout__tab_button--unselected, .flexlayout__tab_button--unselected {
  font-weight: normal;
}

.flexlayout__theme_alpha_dark .flexlayout__border_tab_contents, .flexlayout__border_tab_contents {
  background-color: var(--bg-default);
  border-radius: var(--border-radius);
}

.flexlayout__border_button--unselected {
  background-color: var(--bg-paper);
  color: var(--text);
  border-radius: var(--border-radius);
}

.flexlayout__border_button--selected, .flexlayout__theme_alpha_dark .flexlayout__border_button, .flexlayout__tab_button--selected {
  background-color: var(--bg-default);
  color: var(--text);
  border-radius: var(--border-radius);
}

.flexlayout__tab_button--unselected {
  border-radius: var(--border-radius);
  color: var(--text-secondary);
}

.flexlayout__theme_alpha_dark .flexlayout__tabset_tabbar_outer_top .flexlayout__tab_button--selected {
  border-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.flexlayout__theme_alpha_dark .flexlayout__tabset_tab_divider_selected_before, .flexlayout__theme_alpha_dark .flexlayout__tabset_tab_divider_selected_after {
  width: 0px;
}

.flexlayout__theme_alpha_dark .flexlayout__tabset_tab_spacer {
  width: 0px;
}

.flexlayout__tabset, .flexlayout__tabset-selected {
  background-color: transparent;
}
